<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Bem-vindo!</h2>
  <p>Hotels VIP</p>
  {{#link-to 'about' class="button"}}
    Sobre nós
  {{/link-to}}
</div>

{{#each model as |hotel|}}
	<li>{{hotel.room}}</li>
	<li>{{hotel.name}}</li>
	<li>{{hotel.rates}}</li>
	<li>{{hotel.rateToken}}</li>
{{/each}}


{{outlet}}
